Usuario: {{ app.user.correo }}
<a href="{{ path('categorias') }}">Home</a>
<a href="{{ path('carrito') }}">Carrito</a>
<a href="{{ path('ctrl_logout') }}">Cerrar sesión</a>
<link rel="stylesheet" href="{{ asset('css/style.css') }}">